@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./responsive";
* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 100rem;
  margin: auto;
  padding: 1rem;
  background-color: rgb(240, 240, 240);

  @include MediumScreen() {
    padding: 2rem;
  }
}

.main-content-wrapper {
  background-color: white;
  border-radius: 10px;
  height: 100%;
  padding: 2rem;
}

.input-field {
  border: 1px solid rgb(226, 226, 226);
  flex: 1;
  padding: 0.4rem;
  border-radius: 5px;
  width: 100%;
}

.form-input {
  p {
    margin-bottom: 0.5rem;
  }
}

.app-toolbar {
  justify-content: space-between;

  @include MediumScreen() {
    justify-content: end;
  }
}
